* {
    margin: 0;
    padding: 0;
}
body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    
    
}
/* added color and font weight/size to header h1 */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
    
}
/* added color to header a */
header a {
    text-decoration: none;
    color: #fce138;
}
/* added color to footer a */
footer a {
    color: #39a6b2;
}
/* added float and a margin to header nav */
header nav {
    float: right;
    margin: 7px 0;
}

header nav u li{
    display: inline;
}
header nav u li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
